@charset "utf-8";
/*nav*/

/*网站头部*/
.navbg {
	height:103px;
	width:auto;
	z-index:99;
	margin:auto;
}
#navul li {
	float: left;
	width:130px;
	height:103px;
	position:relative;
	z-index:999;
	text-align:center;
	line-height:103px;
	font-size:16px;font-family:"Microsoft YaHei","微软雅黑","黑体";
}

#navul li a:link, #navul li a:visited {
	color:#666;
	
	height:103px; line-height:103px;
	display:block;
}
#navul li ul {
	display:none;
	position:absolute;
	z-index:10000;
	top:103px;
	left:0px;
	background:#55d9be;
	border-bottom:none;
}
#navul li ul li {
	display:block;
	width:130px;
	float:none;
	margin-right:0px;
	height:28px;
	position:relative;
	line-height:28px;
	border-bottom:#2ec2a3 1px solid;
	font-size:14px;
}
#navul li.navmoon {
	background:#2ec2a3;
	width:130px;
	height:103px;
	line-height:103px;
	display:block;
}
#navul li.navmoon a {
	color:#fff;
}
#navul li.navhome a:hover {
	color:#FCFF00;
}
#navul li.navmoon ul {
	display:block;
}
#navul li.navmoon ul a {
	display:block;
	width:130px;
	height:28px;
	line-height:28px;
}
#navul li.navmoon ul a:hover {
	background:#29b99b;
	text-decoration:underline;
}
